* {box-sizing: border-box;}
body{padding: 0px !important;margin: 0px !important;background-color: #000;color:#fff !important;}
[class*="col-"] {float: left;}
a{font-family: Arial, Helvetica, sans-serif;text-decoration: none;color:inherit}a:hover{text-decoration:none !important;cursor: pointer;}
/*This is for button styling*/
link{
    color:black;
}
.btn{
    border: solid;
    border-width: 1px;
    padding: 10px;    
    border-radius: 5px;   
}
.dropdown{
    float: right;
    position: relative;
    display: inline-block;
}
.dropdown-content{
    right: 0;
    display:none;
    position: absolute;
     background-color:#fdfdfd;
    z-index: 1;
    min-width: 200px;
    padding: 20px 10px !important;
    border:solid;
     border-color:#74a9d8 !important; 
     border-width: 1px;
     border-radius:5px;
}
.dropdown-content a{
     color: black !important;
     display: block;
     padding: 7px 16px;
     font-size: 18px !important;
     font-family: Georgia;
     
}

/*Place all your personal code here*/
.whiteBack{
    background-color:white;
    padding: 20px 5px ;
    border-width:1px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
}

/*This is our main cbt code*/
    .navbar{
        padding: 10px 5%;
        border-bottom: 1px solid #fff;
        font-size: 20px;
    }
    .timer{float:right}
    .question_div{
        height: 200px;border: 2px solid #fff;
        padding: 10px; font-size: 30px;
    }
    .cbt_body{
        padding: 30px 10%;
    }
    .question_bottom{
        padding: 20px
    }
    .question_bottom > button{
        background-color: #428bca;
        color: #fff; padding: 10px; border-radius: 5px;
        border: 1px solid #428bca;cursor: pointer;
    }
    .highlight{
        background-color: transparent !important;
        color: #428bca !important;
    }
    .end_exam{
        float:right;margin-left: 5px;
        cursor: pointer;
    }
/*End of cbt code*/

/*End of your all code*/
.col-1 {width: 8.33%;}.col-2 {width: 16.66%;}.col-3 {width: 25%;}.col-4 {width: 33.33%;}.col-5 {width: 41.66%;}.col-6 {width: 50%;}
.col-7 {width: 58.33%;}.col-8 {width: 66.66%;}.col-9 {width: 75%;}.col-10 {width: 83.33%;}.col-11 {width: 91.66%;}.col-12 {width: 100%;}
@media only screen and (max-width: 700px) {
    .col-xs-1 {width: 8.33%;}.col-xs-2 {width: 16.66%;}.col-xs-3 {width: 25%;}.col-xs-4 {width: 33.33%;}.col-xs-5 {width: 41.66%;}.col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}.col-xs-8 {width: 66.66%;}.col-xs-9 {width: 75%;}.col-xs-10 {width: 83.33%;}.col-xs-11 {width: 91.66%;}.col-xs-12 {width: 100%;}
}
@media only screen and (min-width: 701px) and (max-width: 991px) {
    .col-sm-1 {width: 8.33%;}.col-sm-2 {width: 16.66%;}.col-sm-3 {width: 25%;}.col-sm-4 {width: 33.33%;}.col-sm-5 {width: 41.66%;}.col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}.col-sm-8 {width: 66.66%;}.col-sm-9 {width: 75%;}.col-sm-10 {width: 83.33%;}.col-sm-11 {width: 91.66%;}.col-sm-12 {width: 100%;}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
        .col-md-1 {width: 8.33%;}.col-md-2 {width: 16.66%;}.col-md-3 {width: 25%;}.col-md-4 {width: 33.33%;}.col-md-5 {width: 41.66%;}.col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}.col-md-8 {width: 66.66%;}.col-md-9 {width: 75%;}.col-md-10 {width: 83.33%;}.col-md-11 {width: 91.66%;}.col-md-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .col-lg-1 {width: 8.33%;}.col-lg-2 {width: 16.66%;}.col-lg-3 {width: 25%;}.col-lg-4 {width: 33.33%;}.col-lg-5 {width: 41.66%;}.col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}.col-lg-8 {width: 66.66%;}.col-lg-9 {width: 75%;}.col-lg-10 {width: 83.33%;}.col-lg-11 {width: 91.66%;}.col-lg-12 {width: 100%;}
}
